
table {
    width: 100%;
    border-collapse: flex;
  }
  th,
  td {
    border-bottom: 0px solid #ddd;
    text-align: center;
    justify-content: space-between;
    margin-left: 30px;
    padding: 2px 20px 2px;
    
    min-width: 150px;
  }
  th {
    text-align: center;
    margin-left: 20px;
    min-width: 150px;
  }
  h1 {
    border-bottom: 1px solid #ddd;
  }