
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    border-bottom: 2px solid #ddd;
    text-align: center;
    justify-content: space-between;
    margin-left: 30px;
    padding: 20px 20px 20px;
  }
  th {
    text-align: center;
    margin-left: 20px;
    min-width: 90px;
  }